@import "tailwindcss";

@layer base {
  body {
    background-color: #fcfcfc;
    color: #1e293b; /* dark slate */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
